{
  "parser": "babel-eslint",
  "plugins": ["jsx"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": "error",
    "eqeqeq": "error",
    "curly": "error",
    "no-debugger": "error",
    "no-console": "error",
    "no-alert": "error",
    "no-unused-vars": "warn",
    "no-undef": "error",
    "comma-dangle": "error",
    "jsx/uses-factory": [1, {"pragma": "h"}],
    "jsx/factory-in-scope": [1, {"pragma": "h"}],
    "jsx/mark-used-vars": 1,
    "jsx/no-undef": 1
  }
}
